<!-- FOOTER -->
<footer>
    <ul style="float: left">
        <li>
            <div class="smlogo"><span class="glyphicon glyphicon-envelope" style="color: #FFF;"></span></div>
            <a class="proflink" href="mailto:eric.cc.su@gmail.com">E-Mail</a>
        </li>
        <li>
            <div class="smlogo"><img src="/images/index/In-White-21px-TM.png" alt="LinkedIn"></div>
            <a class="proflink" href="https://www.linkedin.com/pub/eric-su/68/205/141">LinkedIn</a>
        </li>
        <li>
            <div class="smlogo"><img src="/images/index/TwitterLogo_white.png" alt="Twitter" style="max-height: 24px;"></div>
            <a class="proflink" href="https://twitter.com/soSu_me">Twitter</a>
        </li>
        <li>
            <div class="smlogo"><img src="/images/index/GitHub-Mark-Light-32px.png" alt="GitHub"></div>
            <a class="proflink" href="https://github.com/eric-cc-su">GitHub</a>
        </li>
        <li>
            <div class="smlogo"><img src="/images/index/tumblr_logo_white_20.png" alt="tumblr"></div>
            <a class="proflink" href="http://suphotography.tumblr.com/">Eric Su Photography</a>
        </li>
    </ul>
    <ul id="fcopy">
        <li>&copy; 2016 Eric Su</li>
        <li>Licensed under MIT license</li>
    </ul>
</footer>
<!-- END FOOTER -->