<!-- NAVBAR -->
<div class="navbar navbar-static-top" id="navb">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav links" style="float: left;">
                <li><a href="/" class="navtext" title="Home">Home</a></li>
            </ul>
            <!-- Taken from getBootstrap.com -->
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navco">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar navtext"></span>
                <span class="icon-bar navtext"></span>
                <span class="icon-bar navtext"></span>
            </button>
            <!-- getBootstrap.com -->
        </div>
        <nav class="navbar-collapse collapse" id="navco">
            <ul class="nav pull-left links">
                <!--<li><a href="/blog/" class="navtext" title="Blog">Blog</a></li>-->
                <li><a href="/blog/" class="navtext" title="Blog">Blog</a></li>
            </ul>
        </nav>
    </div>
</div>
<!-- -->