a[title="Home"] {
    color: #FFF;
    float: left;
    font-size: 37px;
    padding-top: 0 !important;
    text-decoration: none;
}

a[title="Home"]:hover {
    color: #DDD !important;
}

body {
  box-sizing: border-box;
  color:#373737;
  background: #E0E0E0;
  font-size: 16px;
  font-family: 'Lato','Open Sans','Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

footer {
    background: #60695C;
    display: inherit;
    height: inherit;
    width: 100%;
}

footer > p > a {
    color: #EEF5DB;
}

footer p {
    color: #222;
    text-align: center;
}

#footer_wrap {
    display: inline-block;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  color:#222222;
  font-family: 'Lato','Open Sans','Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

.archive_list {
    list-style: none;
}

.blog-post {
    margin: 20px auto 50px;
    text-align: left;
    width: 70%;
}

@media screen and (min-width: 768px) {
    .blog-post {
        width: 650px;
    }
}

.center-content {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.center-p {
    font-size: 28px;
    margin: 0 auto;
    text-align: justify;
    width: 90%;
}

@media screen and (min-width: 768px) {
    .center-p {
        width: 700px;
    }
}

.container-fluid:before, .nav:before {
    display: none;
    content: none;
}

.nav > li > a.current {
    color: #BDBDBD !important;
}

.face {
    border: none;
    border-radius: 50%;
    max-width: 200px;
    margin: 10px 0 10px 0;

    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
}

#forkme_banner > p {margin: 0;}

.glyphicon-chevron-down {
    color: #333;
    font-size: 50px;
}

.glyphicon-tag {
    font-size: small;
}

.inner > p {
    margin-bottom: 0;
}

#landing-index {
    background-color: #F44336;
}

#landing-about {
    background-color: #F44336;
}

#landing-blog {
    background-color: #03A9F4;
    padding-top: 100px;
    text-align: center;
}

#links-bar {
    text-align: center;
}

#links-bar > a {
    margin: 10px 20px;
}

#links-bar > a > h2{
    display: inline-block;
    font-weight: 500;
}

#links-bar > a > h2:hover {
    text-decoration: underline;
}

.maincontainer {
    display: inline-block;
    height: inherit;
    width: 100%;
}

.nav > li {
    font-size: 28px;
    margin-right: 10px;
}

@media (min-width: 768px) {
    .nav li {
        float: left;
    }
}

.nav > li > a,
.nav > li > a:focus,
.nav > li > a:visited {
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    outline: none;
}
.nav > li > a:hover,
.nav > li > a.active {
    color: #ddd !important;
    border-color: transparent;
    background-color: transparent;
    outline: none;
}

.navbar {
    height: inherit;
}

.navbar-collapse ul {
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .navbar-collapse ul{
        margin-left: 35px;
        margin-bottom: inherit;
    }
}

.navbar-collapse ul li a{
    padding-left: 0;
    padding-right: 25px;
}

.navbar-header {
    margin-left: 0 !important;
}

.navbar-toggle {
    margin-top: 15px;
}

.navbar-toggle .icon-bar {
    background-color: #FFF
}

p.category > a:hover {
    text-decoration: none;
}

.page-landing {
    display: inherit;
    height: inherit;
    padding-bottom: 20px;
    padding-top: 60px;
    width: 100%;
}

.post_link {
    text-decoration: none;
}

.post_link:hover {
    text-decoration: none;
}

.post_list {
    margin: 70px auto 50px;
    list-style: none;
    padding: 0;
    width: 60%;
}

hr.post_list {
    margin: 0 auto;
}

.post-row {
    margin: 30px;
}

#project_title {
  margin: 0;
  color: #fff;
  font-size: 67px;
  font-weight: 300;
  text-shadow: #111 0 0 10px;
}


.posts_header {
    color: #222;
    margin-bottom: 20px;
}

.tag {
    margin-right: 5px;
}

.tag_list {
    list-style: none;
    margin-top: 10px;
    padding: 0;
}

.tag_list > li {
    display: inline-block;
}

.tagged_post {
    display: inline-block;
    margin-right: 10px;
}
