body {
    box-sizing: border-box;
    color:#373737;
    background: #E0E0E0;
    font-size: 16px;
    font-family: 'Lato','Open Sans','Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    color:#222222;
    font-family: 'Lato','Open Sans','Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
    letter-spacing: -1px;
}

.archive_list {
    list-style: none;
}

.blog-image {
    font-size: 14px;
    font-style: italic;
    margin: 10px 0;
    text-align: center;
}

.blog-image img {
    display: block;
    max-height: 300px;
    margin: 0 auto;
}

.blog-post {
    margin: 30px auto 50px;
    text-align: left;
    width: 70%;
}

.blog-post p {
    font-size: 18px;
}

#blog-title {
    color: #000;
    font-size: 60px;
    text-shadow: 1px 3px 2px #BDBDBD;
}

.brogress-top {
    position: fixed;
    top: 0;
}

.center-p {
    margin: 0 auto;
    width: 70%;
}

#code {
    background-color: #81D2C7;
    padding-top: 25px;
}

#code h1, #interests h1 {
    color: #fff;
    font-weight: bold;
    text-shadow: 0 2px 3px #555; /*http://line25.com/tutorials/create-a-letterpress-effect-with-css-text-shadow*/
    /*text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);*/

}

/*https://ihatetomatoes.net/how-to-create-a-parallax-scrolling-website/*/
.hsContainer {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    opacity: 0;
}
.hsContent {
    max-width: 450px;
    margin: -150px auto 0 auto;
    display: table-cell;
    vertical-align: middle;
    color: #ebebeb;
    padding: 0 8%;
    text-align: center
}
.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.info{
    text-align: center;
}

.info h2 {
    /*color: #E0E0E0;*/
    /*font-weight: 700;*/
}

.info ul {
    list-style: none;
    padding-left: 0;
}

.info ul li {
    font-size: 25px;
    text-align: left
}

.info ul ul {
    padding-left: 20px;
}

.nav > li > a.current {
    color: #BDBDBD !important;
}

#emc_description {
    margin-top: 40px;
}

#emc_logo {
    padding: 70px;
    max-height: 270px;
}

.face {
    border: none;
    border-radius: 50%;
    max-width: 200px;
    margin: 10px 0 10px 0;

    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
}

#fcopy {
    /*bottom: 0;*/
    float: right;
    /*position: absolute;*/
    /*right: 15px;*/
    padding-right: 15px;
    padding-top: 50px;
    text-align: right;
}

footer {
    background: #60695C;
    padding-top: 20px;
}

footer:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

footer > p > a {
    color: #EEF5DB;
}

footer p {
    color: #222;
    display: block;
    float: right;
    text-align: left;
    margin: 0;
    padding: 2px;
}

footer ul {
    list-style: none;
}

footer ul li a {
    color: #FFF;
    text-decoration: none;
}

.glyphicon-tag {
    font-size: small;
    margin-left: 5px;
}

#home-top {
  background-color: #F44336;
}

.infosection {
    background-color: #E0E0E0;
    padding-bottom: 50px;
}

.infosection-footer {
    text-align: center;
}

/*thanks to http://stackoverflow.com/questions/218760/how-do-you-keep-parents-of-floated-elements-from-collapsing */
.infosection:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

.invisible-photoslide {
    background-color: transparent;
    width: 100%;
}

.job_subhead {
    color: #989b95;
}

.jobhead,
:hover, :active, :focus {
    text-decoration: none;
}

.jobhead h3 {
    display: inline-block;
}

.jobhead:hover,
.jobhead h3:hover{
    color: #07bdfd !important;
    text-decoration: none;
}

.landing-blog {
    height: inherit;
    padding-bottom: 50px;
    padding-top: 20px;
}

.landing-top {
    height: inherit;
    padding-top: 65px;
    padding-bottom: 50px;
    text-align: center;
}

.left-title h2 {
    font-weight: 700;
    text-shadow: 0 2px 2px rgba(145, 145, 145, 0.45);

}

.nav > li {
    font-size: 28px;
}

@media (min-width: 768px) {
    .nav li {
        float: left;
    }
}

.nav > li > a {
    color: #FFF;
}

.nav li a:hover {
    background-color: transparent;
}

.navmin {
    top: -58px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.navmin:hover {
    top: 0;
}

.navmin:hover .brogress-top {
    display: none;
}

.navtext,
.navtext:focus,
.navtext:visited {
    background-color: transparent;
    text-decoration: none;
    outline: none;
}
.navtext:hover,
.navtext.active {
    color: #ddd !important;
    border-color: transparent;
    background-color: transparent;
    outline: none;
}

/*
.navbar-collapse ul {
    margin-bottom: 20px;
}
*/

.navbar-header {
    margin-left: 0 !important;
}

.navbar-toggle {
    margin-top: 15px;
}

.navbar-toggle .icon-bar {
    background-color: #FFF
}

p.category > a:hover {
    text-decoration: none;
}


.post_link {
    text-decoration: none;
}

.post_link:hover {
    text-decoration: none;
}

.post_list {
    margin: 50px auto;
    list-style: none;
    padding: 0;
    width: 60%;
}

hr.post_list {
    margin: 0 auto;
}

.post-row {
    margin: 30px;
}

.proflink button {
    background-color: #BDBDBD;
    margin: 10px;
}

.proflink :hover {
    text-decoration: none;
}

#interests {
    background-color: #C4D6B0;
}

.project_description {
    padding: 0 5%;
}

.project_description_center {
    padding: 0 10%;
    text-align: center;
}

.project_description_center p {
    text-align: left;
}

.project_image {
    border: 1px solid rgba(152, 155, 149, 0.71);
    border-radius: 2px;
    /*box-shadow: 1px 1px 4px #111;*/
    box-shadow: 0 0 1px #111;
    width: 350px;
}

.project_image:hover {
    box-shadow: 0 0 10px #111;
}
/*
#github button,
#tumblr button {
    background-color: rgba(221,221,221,0.9);
    border: 1px solid rgba(152, 155, 149, 0.71);
}
*/
#github :hover {
    background-color: #c35acf;
}

#linkedin :hover {
    background-color: #07bdfd ;
}

#tumblr {
    display: block;
}

#tumblr :hover {
    background-color: #FFF;
}

#project_title {
  margin: 0;
  color: #fff;
  font-size: 67px;
  font-weight: 300;
  text-shadow: #111 0 0 10px;
}


.posts_header {
    color: #222;
    margin-bottom: 20px;
    margin-top: 100px;
}

.right-skill ul {
    font-size: 20px;
    list-style: none;
}

#seagate_logo {
     width:400px;
    margin-top: 40px;
}

.section-title,
.mobile-section-title {
    font-size: 50px;
    font-weight: 700;
    margin-top: 0;
    padding-top: 30px;
    text-align: center;
}

.smlogo {
    display: inline-block;
    width: 35px;
}

.tag {
    margin-right: 5px;
}

.tag_list {
    list-style: none;
    margin-top: 10px;
    padding: 0;
}

.tag_list > li {
    display: inline-block;
}

.tagged_post {
    display: inline-block;
    margin-right: 10px;
}

.trail {
    margin-top: 40px;
}

@media screen and (max-width: 500px) {
    #fcopy {
        clear: both;
        float: left;
        position: relative;
        right: 0;
        text-align: left;
    }

    #navb {
        background-color: #FFF;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

    .nav li a{
        color: #60695C;
    }

    .navbar-toggle .icon-bar {
        background-color: #60695C;
    }

    .sticky {
        display: none;
    }
}

@media screen and (min-width: 995px) {  /*large screens*/
    .blog-post {
        width: 650px;
    }

    .center-p {
        font-size: 28px;
    }

    .left-title h2 {
        margin: 0;
        text-align: right;
    }

    .mobile_hide {
        display: inherit;
    }

    .mobile_show {
        display: none;
    }

    .navbar-collapse ul{
        /*margin-left: 35px;*/
        margin-bottom: inherit;
    }

    .right-skill h2 {
        text-align: left;
    }
}

@media screen and (max-width: 995px) {  /*semi-small screens*/
    .job_description, .project_description {
        margin: 40px auto 0;
        padding-top: 0;
        width: 70%;
    }

    #emc_description {
        margin-top: 0;
    }

    .graphics {
        text-align: center;
    }

    .left-title h2 {
        text-align: center;
    }

    .mobile_hide {
        display: none;
    }

    .mobile_show {
        display: inherit;
    }

    .right-skill h2 {
        text-align: center;
    }

    .left-title h2 {
        text-align: center;
    }

    .right-skill ul {
        padding-left: 0;
        text-align: center;
    }
}
