a[title="Home"] {
    color: #FFF;
    float: left;
    font-size: 37px;
    padding-top: 0 !important;
    text-decoration: none;
}

a[title="Home"]:hover {
    color: #DDD !important;
}

body {
    box-sizing: border-box;
    color:#373737;
    background: #E0E0E0;
    font-size: 16px;
    font-family: 'Lato','Open Sans','Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    color:#222222;
    font-family: 'Lato','Open Sans','Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
    letter-spacing: -1px;
}

.archive_list {
    list-style: none;
}

.blog-image {
    font-size: 14px;
    font-style: italic;
    margin: 10px 0;
    text-align: center;
}

.blog-image img {
    display: block;
    max-height: 300px;
    margin: 0 auto;
}

.blog-post {
    margin: 30px auto 50px;
    text-align: left;
    width: 70%;
}

@media screen and (min-width: 768px) {
    .blog-post {
        width: 650px;
    }
}

.center-p {
    margin: 0 auto;
    width: 70%;
}

@media screen and (min-width: 768px) {
    .center-p {
        font-size: 28px;
    }
}

#code {
    background-color: #82c856;
}

#code h1 {
    color: #fff;
    font-weight: bold;
    text-shadow: 0 2px 3px #555; /*http://line25.com/tutorials/create-a-letterpress-effect-with-css-text-shadow*/
    /*text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);*/

}

.info{
    text-align: center;
}

.info h2 {
    /*color: #E0E0E0;*/
    /*font-weight: 700;*/
}

.info ul {
    list-style: none;
    padding-left: 0;
}

.info ul li {
    font-size: 25px;
    text-align: left
}

.info ul ul {
    padding-left: 20px;
}

.nav > li > a.current {
    color: #BDBDBD !important;
}

#emc_description {
    margin-top: 40px;
}

#emc_logo {
    padding: 90px;
    height: 270px;
}

@media screen and (max-width: 768px) {
    .job_description {
        margin: 40px auto 0;
        padding-top: 0;
        width: 70%;
    }

    #emc_description {
        margin-top: 0;
    }

    #emc_logo {
        padding: 40px;
        height: 120px;
    }
}

.face {
    border: none;
    border-radius: 50%;
    max-width: 200px;
    margin: 10px 0 10px 0;

    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
}


footer {
    background: #60695C;
}

footer > p > a {
    color: #EEF5DB;
}

footer p {
    color: #222;
    text-align: center;
    margin: 0;
    padding: 2px;
}

.glyphicon-tag {
    font-size: small;
    margin-left: 5px;
}

@media screen and (max-width: 1000px) {
    .graphics {
        text-align: center;
    }
}

.infosection {
    padding-bottom: 50px;
}

.infosection-footer {
    text-align: center;
}

/*thanks to http://stackoverflow.com/questions/218760/how-do-you-keep-parents-of-floated-elements-from-collapsing */
.infosection:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

.job_subhead {
    color: #989b95;
}

.jobhead,
:hover, :active, :focus {
    text-decoration: none;
}

.jobhead:hover,
.jobhead h3:hover{
    color: #07bdfd !important;
    text-decoration: none;
}

.landing-blog {
    height: inherit;
    padding-bottom: 50px;
}

.landing-top {
    background-color: #F44336;
    height: inherit;
    padding-top: 65px;
    padding-bottom: 50px;
    text-align: center;
}

.left-title {
    text-align: right;
}

.left-title h2 {
    font-weight: 700;
    /*http://www.hongkiat.com/blog/css-text-effects/*/
    /*http://codepen.io/ThatGuySam*/
    /*http://codepen.io/ThatGuySam/pen/CytDA*/
    text-shadow: 0 1px 0 #222222, 0 2px 0 #333333, 0 1px 3px rgba(51, 51, 51, 0.3), 0 3px 5px rgba(153, 153, 153, 0.36), 0 5px 10px rgba(255, 255, 255, 0.37), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);

}

.nav > li {
    font-size: 28px;
    margin-right: 10px;
}

@media (min-width: 768px) {
    .nav li {
        float: left;
    }
}

.nav > li > a,
.nav > li > a:focus,
.nav > li > a:visited {
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    outline: none;
}
.nav > li > a:hover,
.nav > li > a.active {
    color: #ddd !important;
    border-color: transparent;
    background-color: transparent;
    outline: none;
}


.navbar-collapse ul {
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .navbar-collapse ul{
        margin-left: 35px;
        margin-bottom: inherit;
    }
}

.navbar-collapse ul li a{
    padding-left: 0;
    padding-right: 25px;
}

.navbar-header {
    margin-left: 0 !important;
}

.navbar-toggle {
    margin-top: 15px;
}

.navbar-toggle .icon-bar {
    background-color: #FFF
}

p.category > a:hover {
    text-decoration: none;
}


.post_link {
    text-decoration: none;
}

.post_link:hover {
    text-decoration: none;
}

.post_list {
    margin: 50px auto;
    list-style: none;
    padding: 0;
    width: 60%;
}

hr.post_list {
    margin: 0 auto;
}

.post-row {
    margin: 30px;
}

.proflink button {
    background-color: #989b95;
    margin: 10px;
}

.proflink :hover {
    text-decoration: none;
}

#github button,
#tumblr button {
    background-color: rgba(221,221,221,0.9);
    border: 1px solid rgba(152, 155, 149, 0.71);
}

#github :hover {
    background-color: #c35acf;
}

#linkedin :hover {
    background-color: #07bdfd ;
}

#tumblr {
    display: block;
}

#tumblr :hover {
    background-color: #FFF;
}

#project_title {
  margin: 0;
  color: #fff;
  font-size: 67px;
  font-weight: 300;
  text-shadow: #111 0 0 10px;
}


.posts_header {
    color: #222;
    margin-bottom: 20px;
    margin-top: 100px;
}

#seagate_logo {
     width:400px;
    margin-top: 40px;
}

@media screen and (max-width: 768px) {
    #seagate_logo {
        margin-top: 0;
        width: 205px;
    }
}

.section-title,
.mobile-section-title {
    font-size: 50px;
    font-weight: 700;
    margin-top: 0;
    padding-top: 30px;
    text-align: center;
}


.tag {
    margin-right: 5px;
}

.tag_list {
    list-style: none;
    margin-top: 10px;
    padding: 0;
}

.tag_list > li {
    display: inline-block;
}

.tagged_post {
    display: inline-block;
    margin-right: 10px;
}

.trail {
    margin-top: 40px;
}