<!--Tagging implementation thanks to Minddust http://www.minddust.com/post/tags-and-categories-on-github-pages/-->
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="author" content="Eric Su">
    <meta name="description" content="Eric Su of Boston, MA. Programmer, Photographer and Triathlete.">
    <meta name="copyright" content="Eric Su">
    <meta name="keywords" content="Eric Su, Github, Boston, Massachusetts, programmer, photographer, triathlete, blog">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/javascripts/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/color/jquery.color-2.1.0.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Lato|Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/newindex.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/blog.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/pygments/default.css">
    <script src="/javascripts/main.js"></script>
    <title>{{ site.name }}</title>

</head>
<body>

    {% include navbar.html %}

    {% assign post = page %}
    <div class="col-md-12" style="padding: 0;">
        <div class="landing landing-blog">
            {{ content }}
        </div>

        <footer>
            <p style="padding-top: 20px">Published with <a href="https://pages.github.com">GitHub Pages</a></p>
            <p>&copy; 2015 Eric Su</p>
            <p style="padding-bottom: 10px;">Licensed under MIT license.</p>
        </footer>
    </div>
</body>
</html>