<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="author" content="Eric Su">
    <meta name="description" content="Eric Su of Boston, MA is the founder of Chefversity, full stack software developer,
    photographer and triathlete.">
    <meta name="copyright" content="Eric Su">
    <meta name="keywords" content="Eric Su, Eric C Su, Github, Boston, Massachusetts, Chefversity, developer, programmer, photographer, triathlete, full stack">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="/javascripts/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/color/jquery.color-2.1.0.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Lato|Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/newindex.css">
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/infoslide.js"></script>
    <title>Eric Su</title>
</head>

<body>
    {% include navbar-static.html %}

    <div class="col-md-12" style="padding: 0;">
        <div class="landing landing-top">
            {{ content }}
        </div>

        {% include footer.html %}
    </div>
</body>
</html>
